<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @actor.first_name %>
</p>

<p>
  <strong>Last name string:</strong>
  <%= @actor.last_name_string %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @actor.birth_date %>
</p>

<p>
  <strong>Decription:</strong>
  <%= @actor.decription %>
</p>

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
